<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EBAC Jornada IA</title>
    <link rel="stylesheet" href="/style/reset.css" />
    <link rel="stylesheet" href="/style/menu-lateral.css" />
    <link rel="stylesheet" href="/style/styles.css" />
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <nav>
        <div class="navicon">
          <div></div>
        </div>
      
        <a class="a-lateral" href="/index.html">Home</a>
        <a class="a-lateral" href="/templates/IA.html">O que é a Inteligência Artificial?</a>
        <a class="a-lateral" href="/templates/dino-google.html">História do "Dinossauro do Google"</a>
        <a class="a-lateral" href="/templates/EBAC.html">EBAC</a>
        <a class="a-lateral" href="/templates/sobre.html">Sobre</a>
      
      </nav>
      <div class="cont-text">
        <a class="texto">
            <p style="text-align: center; font-size: large; font-style:italic;"><strong>A história do Dinossauro do Google</strong></p>
            <br>

            O "dinossauro do Google" é uma referência ao pequeno jogo que aparece no navegador Chrome quando você está offline e tenta acessar uma página da web. Esse jogo é conhecido como "T-Rex Run" ou "Jogo do Dinossauro".

            <br> <br>

            Segundo o designer do Google Chrome Sebastian Gabriel, a escolha recaiu sobre o dinossauro por uma referência lúdica aos "velhos" tempos, quando a Internet ainda não era tão desenvolvida e ainda não era onipresente.


            <br> <br>

            O nome Tyrannosaurus também não foi coincidência. O jogo offline Chrome dinosaur foi apelidado de "Projeto Bolan" em homenagem a Mark Bolan, o famoso vocalista da banda dos anos 1970 T-Rex. Enquanto trabalhavam no jogo, os programadores pensaram em como dar a Dino a habilidade de rosnar, bem como dar chutes. No entanto, essas ideias acabaram sendo rejeitadas para que o jogo mantivesse sua simplicidade ou, em outras palavras, o espírito "pré-histórico".


            <br> <br>

            O jogo em si é um corredor sem fim no qual você controla um dinossauro T-Rex que corre pelo deserto. Seu objetivo é pular sobre cactos e evitar obstáculos para marcar pontos. Conforme o tempo passa, a velocidade do jogo aumenta, tornando-o mais desafiador.


            <br> <br>

            Essencialmente, o jogo do dinossauro foi incluído como uma maneira divertida de entreter os usuários enquanto estão offline, transformando um problema (falta de conexão com a internet) em uma oportunidade de diversão rápida.

        </a>
    </div>
      <footer class="footer">
        <div class="footer">
            <div class="row">
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/henriqueribeiro88/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://www.youtube.com/@EBACONLINE" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/Henrique088" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/henrique-ribeiro-551061298" target="_blank"><i class="fa fa-linkedin"></i></a>
            
            </div>
            
           
            </div>
      </footer>

    <script src="script.js"></script>

</body>
</html>