<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EBAC Jornada IA</title>
    <link rel="stylesheet" href="/style/reset.css" />
    <link rel="stylesheet" href="/style/menu-lateral.css" />
    <link rel="stylesheet" href="/style/styles.css" />
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <nav>
        <div class="navicon">
          <div></div>
        </div>
      
        <a class="a-lateral" href="/index.html">Home</a>
        <a class="a-lateral" href="/templates/IA.html">O que é a Inteligência Artificial?</a>
        <a class="a-lateral" href="/templates/dino-google.html">História do "Dinossauro do Google"</a>
        <a class="a-lateral" href="/templates/EBAC.html">EBAC</a>
        <a class="a-lateral" href="/templates/sobre.html">Sobre</a>
      
      </nav>
      <div class="cont-text">
        <a class="texto">
            <p style="text-align: center; font-size: large; font-style:italic;"><strong>Inteligência Artificial: Uma Visão Geral</strong></p>
            <br>


            A Inteligência Artificial (IA) é um campo da ciência da computação que se dedica a criar sistemas capazes de realizar tarefas que normalmente requerem inteligência humana. Essas tarefas incluem o aprendizado, a percepção, o raciocínio, o reconhecimento de fala, a compreensão de linguagem natural e a tomada de decisões. O objetivo central da IA é desenvolver máquinas que possam executar funções complexas de maneira autônoma, sem intervenção humana constante.

            Existem duas abordagens principais na IA:
            <br> <br>
            1. <strong>IA Fraca (ou Estreita):</strong> Refere-se a sistemas projetados para uma tarefa específica. Esses sistemas são especializados em uma única função e não possuem a capacidade de generalizar conhecimento para outras áreas. Exemplos incluem assistentes virtuais, reconhecimento de imagem e carros autônomos.
            
            <br> <br>
            
            2. <strong>IA Forte (ou Geral):</strong> Refere-se a sistemas que possuem a capacidade de entender, aprender e executar qualquer tarefa que um ser humano possa fazer. Esse tipo de IA ainda está no domínio da ficção científica e representa um nível de inteligência comparável à humana.

            <br> <br>

            Alguns conceitos-chave em IA incluem:

            <br> 
            <ul>
                <li>
                    <strong>Aprendizado de Máquina (ML):</strong> Uma abordagem que permite que as máquinas aprendam padrões a partir de dados. Isso envolve a criação de algoritmos que melhoram automaticamente com o tempo.
                </li>
                    
                <li>
                    <strong>Neurais:</strong> Inspiradas na estrutura do cérebro humano, são algoritmos de aprendizado de máquina que reconhecem padrões. Redes neurais profundas (Deep Learning) são um subconjunto avançado dessa técnica.
                </li>

                <li>
                    <strong>Processamento de Linguagem Natural (PLN):</strong> Permite que as máquinas compreendam, interpretem e gerem linguagem humana de maneira semelhante à comunicação entre pessoas.
                </li>

                <li>
                    <strong>Visão Computacional:</strong> Capacidade das máquinas de interpretar e compreender informações visuais, como reconhecimento facial e detecção de objetos.
                </li>

            </ul>
            
            

            A IA desempenha um papel crescente em muitas áreas, desde assistentes virtuais em dispositivos pessoais até diagnósticos médicos avançados. No entanto, também levanta questões éticas e sociais, como privacidade, viés algorítmico e impacto no emprego.

            À medida que a IA continua a evoluir, é essencial equilibrar seu potencial benéfico com considerações éticas, garantindo que seu desenvolvimento e implementação sejam guiados por princípios que beneficiem a sociedade como um todo.

        </a>
    </div>
      <footer class="footer">
        <div class="footer">
            <div class="row">
                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/henriqueribeiro88/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.youtube.com/@EBACONLINE" target="_blank"><i class="fa fa-youtube"></i></a>
                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/Henrique088" target="_blank"><i class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/in/henrique-ribeiro-551061298" target="_blank"><i class="fa fa-linkedin"></i></a>
            
            </div>
            
           
            </div>
      </footer>

    <script src="script.js"></script>

</body>
</html>